<div class="flex py-4 px-4 justify-end">
  <div class="px-2">
    <button
      (click)="openTotal = !openTotal"
      class="h-10 inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
      type="button"
    >
      <span class="sr-only">Action button</span>
      Per Page
      <svg
        class="w-2.5 h-2.5 ms-2.5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 4 4 4-4"
        />
      </svg>
    </button>
    
    <div
      *ngIf="openTotal"
      class="z-10 absolute bg-white divide-y divide-gray-100 rounded-lg shadow w-[5.5rem] dark:bg-gray-700 dark:divide-gray-600"
    >
      <ul
        class="py-1 text-sm text-gray-700 dark:text-gray-200"
        aria-labelledby="dropdownActionButton"
      >
        <li *ngFor="let optionSize of numberSize">
          <button
            (click)="changeSize(optionSize)"
            class="block px-4 w-[5.5rem] py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            [ngClass]="{
              'bg-[#e9e5e565] text-[black]': this.size === optionSize
            }"
          >
            {{ optionSize }}
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col">
    <nav aria-label="Page navigation example">
      <ul class="inline-flex -space-x-px text-base h-10">
        <li>
          <button
            (click)="prevPage()"
            [disabled]="currentPage === 0"
            class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >
            Previous
          </button>
        </li>
        <li *ngFor="let page of generatePages()">
          <button
            (click)="pageChange.emit({ page: page - 1, size: size })"
            class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            [ngClass]="{
              'bg-[#e9e5e565] text-[black]': page === currentPage + 1
            }"
          >
            {{ page }}
          </button>
        </li>
        <li>
          <button
            (click)="nextPage()"
            [disabled]="currentPage + 1 === totalPages"
            class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          >
            Next
          </button>
        </li>
      </ul>
    </nav>
    <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
  </div>
</div>
